env:
  es6: true
  browser: true

parserOptions:
  ecmaVersion: 6
  sourceType: module

rules:
  indent: [ 1, 2, SwitchCase: 1 ]
  quotes: [ 1, single ]
  linebreak-style: [ 1, unix ]
  semi: [ 1, always ]
  no-undef: [ 0 ]
  no-console: [ 0 ]
  no-debug: [ 0 ]
  no-unused-vars: [ 0 ]
  space-infix-ops: [ 1 ]
  no-multi-spaces: [ 1 ]
  no-fallthrough: [ 0 ]
  no-control-regex: [ 0 ]

extends: 'eslint:recommended'
