.lazy-wrap,
.lazy-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-wrap {
  height: 80px;
  color: #555;
  font-size: 26px;
}

.lazy-loading {
  img {
    display: block;
    width: 30px;
    height: 30px;
    transform-origin: 50% 50%;
    animation: lazy-icon 1s linear infinite;
  }
  span {
    margin-left: 15px;
  }
}

@keyframes lazy-icon {
  to {
    transform: rotate(360deg);
  }
}
